<div class="row">
  <div class="col-sm-4">
    <form name="itemForm" role="form" ng-hide="state==='init'">
	  <div class="form-group">
	    <label for="room">Room</label>
	    <input type="text" 
	    	   ng-model="selectedItem.room" 
	    	   class="form-control" 
	    	   id="room" 
	    	   placeholder="Room (e.g. Living Room)"
	    	   required>
	  </div>
	  <div class="form-group">
	    <label for="weight">Weight</label>
	    <input type="number" 
	    	   ng-model="selectedItem.weight" 
	    	   class="form-control" 
	    	   id="weight" 
	    	   placeholder="12.5 kg" 
	    	   required>
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox" ng-model="selectedItem.isFragile">Fragile
	    </label>
	  </div>
	  <div class="form-group">
	    <label for="room">Content</label>
	    <textarea class="form-control" 
	    		  ng-model="selectedItem.content" 
	    		  placeholder="Etc.: Books, Journals" 
	    		  rows="3" 
	    		  required>
	    </textarea>
	  </div>
	  <button type="submit" 
	  		  class="btn btn-default"	
	  		  ng-show="state==='new'"
	  		  ng-click="addItem(selectedItem)"
	  		  ng-disabled="itemForm.$invalid">
	  		  Add
	  </button>
  	  <button type="submit" 
	  		  class="btn btn-default"
	  		  ng-show="state==='edit'"
	  		  ng-click="updateItem(selectedItem)"
	  		  ng-disabled="itemForm.$invalid">
	  		  Update
	  </button>
	  <button type="submit" 
	  		  class="btn btn-default"
	  		  ng-show="state==='edit'"
	  		  ng-click="deleteItem(selectedItem)"
	  		  ng-disabled="itemForm.$invalid">
	  		  Delete
	  </button>
  	  <button type="submit" 
	  		  class="btn"
	  		  ng-click="clearSelection()">
	  		  Cancel
	  </button>
	</form>
	<button class="btn" ng-show="state==='init'" ng-click="state = 'new'">New Item</button>
  </div>
  <div class="col-sm-8">
    <div class="list-group">
		<ul>
			<li class="list-group-item" ng-repeat="(room, group) in removalItemService.items | groupBy: 'room'">
				{{room}}
				<ul>
					<li class="list-group-item removal-item" 
						ng-class="{active: $parent.selectedItem.id === item.id}"
						ng-repeat="item in group"
						href="#"
						ng-click="$parent.selectItem(item)">
						<p>Weight: {{item.weight}} kg</p>
						<p ng-show="item.isFragile">Fragile Item!</p>
						<p>{{item.content}}</p>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<a href="#/summary">Summary</a>
  </div>
</div>