<div class="list-group">
	<h2>Heaviest</h2>
	<ul>
	<!-- TODO extract number of biggest items  into config if this reuquirement starts to change -->
		<li class="list-group-item" 
			ng-repeat="item in removalItemService.items | orderBy:'weight':true | first: 2">
			<p>Weight: {{item.weight}} kg</p>
			<p>Room: {{item.room}}</p>
			<p>{{item.content}}</p>
		</li>
	</ul>
	<h2>Fragile</h2>
	<ul>
		<li class="list-group-item" 
			ng-repeat="item in removalItemService.items | filter:{isFragile: true}">
			<p>Weight: {{item.weight}} kg</p>
			<p>Room: {{item.room}}</p>
			<p>{{item.content}}</p>
		</li>
	</ul>
	<h2>Other</h2>
	<ul>
		<li class="list-group-item" 
			ng-repeat="item in removalItemService.items | orderBy:'weight':true | after:2 | filter:{isFragile: false}">
			<p>Weight: {{item.weight}} kg</p>
			<p>Room: {{item.room}}</p>
			<p>{{item.content}}</p>
		</li>
	</ul>
</div>